# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Env files
.env
backend/.env
frontend/.env

# Node
node_modules/
frontend/dist/

# IDEs
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.err
